{% block body %}
    <div class="main-card card mb-3">
        <div class="card-body">
            <div class="row flex-row mb-3">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Liste des grant types</h5>

                    <div>
                        <a id="videolibrary-upload" href="{{ path('coa_videolibrary_grant_type_add') }}" class="btn btn-secondary btn-sm">
                            <i class="fa fa-plus-circle"></i>&nbsp;
                            Ajouter
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>label</th>
                            <th>Desription</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for grant_type in grant_types %}
                            <tr>
                                <td>{{ grant_type.name }}</td>
                                <td>{{ grant_type.label }}</td>
                                <td>{{ grant_type.description }}</td>
                                <td>
                                    <p class="mb-1">
                                        <a href="{{ path('coa_videolibrary_grant_type_edit', {id: grant_type.id}) }}" class="text-primary font-weight-bolder font-size-xs">
                                            <i class="fa fa-edit"></i> Modifier
                                        </a>
                                    </p>
                                    <div class="mb-1">
                                        <a href="#" data-toggle="modal"
                                           data-target="#exampleModal" data-form="grant_type{{ grant_type.id }}" class="delete-action text-danger font-weight-bolder font-size-xs">
                                            <i class="fa fa-trash"></i> Supprimer
                                        </a>
                                        <form method="post" id="grant_type{{ grant_type.id }}" action="{{ path('coa_videolibrary_grant_type_delete', {id: grant_type.id}) }}" class="d-none">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('grant_type' ~ grant_type.id) }}">
                                            <input type="submit" value="supprimer">
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}