{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/coavideolibrary/libs/venobox/venobox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/coavideolibrary/css/styles.css') }}">
{% endblock %}

{% block body %}

    <div class="main-card card mb-3" id="main-container">

        <div class="card-header">
            <div class="d-flex align-items-center">
                <h5 class="card-title mb-0">Videos</h5>
            </div>

            <div style="flex-grow: 1" class="px-5">

                <div class="search-wrapper active">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="Recherche...">
                        <button class="search-icon"><span></span></button>
                    </div>
{#                    <button class="close"></button>#}
                </div>
            </div>


            <div class="ml-auto">
                <button class="btn bg-plum-plate btn-sm btn-upload text-white">
                    <i class="fa fa-upload"></i>&nbsp;
                    Charger une video
                </button>
            </div>
        </div>

        <div class="card-body">

            <table class="table">

                <tbody>
                    {% include '@CoaVideolibrary/home/item-render.html.twig' %}

                    {% if  videos|length == 0 %}
                        <tr>
                            <td>
                                <div class="alert alert-light">
                                    <h3>0 resultats</h3>

                                    <div>
                                        Vous ne disposez aucune vidéos pour le moment
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div style="text-align:center" id="infinite-loading">
            <i  class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
    </div>
{% endblock %}

{% block modal %}

    <div class="drop-placeholder">
        <h1>
            Deposez ici vos fichiers videos
        </h1>
    </div>

    {# liste des upload encours #}
    <div id="upload-list">
        <div class="main-card card" >
            <div class="card-header bg-plum-plate">
                <i class="fa fa-upload text-light"></i>&nbsp;&nbsp;
                <h5 class="card-title m-0 text-light">Envois en cours</h5>
                <div class="ml-auto">
                    <div class="counter counter-animation text-light d-inline-block"></div>
                    <a href="" class="text-light times">
                        <i class="fa fa-angle-down fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush"></ul>
            </div>
        </div>
    </div>


    {# modal de suppression #}
    <div class="modal fade modal-remove" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="main-card card">
                    <div class="card-header">
                        <i class="header-icon lnr-question-circle icon-gradient bg-plum-plate"></i>
                        Confirmation - &nbsp;<span class="custom-title"></span>
                    </div>

                    <div class="card-body">

                        <p style="font-size: 16px">
                            Voulez-vous vraiment supprimer cet élément ?
                            <br> Cette action est irrevessible,et sera définitivement supprimé de votre base de donnée.
                        </p>

                    </div>

                    <div class="d-block text-right card-footer">

                        <button type="button" class="btn bg-plum-plate text-white yes">
                            Oui
                        </button>

                        <button type="button" class="btn bg-plum-plate text-white no" data-dismiss="modal">
                            Non
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# modale de gestion des screenshots #}
    <div class="modal fade modal-screenshot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="main-card card">
                    <div class="card-header">
                        <i class="header-icon lnr-question-circle icon-gradient bg-plum-plate"></i>
                        Vignettes - &nbsp;<span class="custom-title"></span>
                    </div>

                    <div class="card-body">
                        <div style="text-align:center" class="loading">
                            <i  class="fa fa-spinner fa-spin fa-4x"></i>
                        </div>
                        <div class="screenshot-container"></div>
                    </div>

                    <div class="d-block text-right card-footer">

                        <button type="button" class="btn bg-plum-plate text-white" data-dismiss="modal">
                            Quitter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# modal selection video #}
    {% include '@CoaVideolibrary/home/modal-video.html.twig' %}
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/coavideolibrary/libs/venobox/venobox.min.js') }}"></script>
    <script src="{{ asset('bundles/coavideolibrary/libs/jquery-circle-progress-1.2.2/circle-progress.min.js') }}"></script>
    <script src="{{ asset('bundles/coavideolibrary/js/aaz.js') }}"></script>
    <script src="{{ asset('bundles/coavideolibrary/js/plugin.js') }}"></script>
    <script src="{{ asset('bundles/coavideolibrary/js/index.js') }}"></script>

    <script>
        window.addEventListener("load",function (e){
            $('.venobox').venobox();



        });
    </script>
{% endblock %}