{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/coavideolibrary/libs/venobox/venobox.css','coa_videolibrary_host') }}">
    <link rel="stylesheet" href="{{ asset('bundles/coavideolibrary/libs/scrollbar/jquery.mCustomScrollbar.css','coa_videolibrary_host') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/coavideolibrary/css/styles.css','coa_videolibrary_host') }}.1">

    <style>
        .mCustomScrollbar {
            touch-action: initial
        }

        .data-item-image{
            background: url("{{ asset('bundles/coavideolibrary/images/not-available.png','coa_videolibrary_host') }}") no-repeat 0 0;
        }

        .screenshot-add {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .screenshot-label {
            margin-top: 20px;
            cursor: pointer;
        }

        .modal-screenshot .screenshot-zone:not(.loading) .fa-circle-notch {
            display: none;
        }

        .modal-screenshot .screenshot-zone.loading .fa-plus {
            display: none;
        }

        .modal-screenshot .screenshot.prototype {
            display: none;
        }

        .modal-screenshot .screenshot:not(.prototype).loading .screenshot--overlay {
            display: none !important;
        }

        .modal-screenshot .screenshot:not(.prototype):not(.loading) .progression {
            display: none;
        }

        .screenshot .progression {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .screenshot .progression strong {
            position: absolute;
            top: 38px;
            left: 0;
            width: 100%;
            text-align: center;
            line-height: 40px;
            font-size: 15px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="main-card card mb-3" id="main-container">

        <div class="card-header">
            <div class="d-flex align-items-center">
                <h5 class="card-title mb-0">Videos</h5>
            </div>

            <div style="flex-grow: 1" class="px-5">

                <div class="search-wrapper active">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="Recherche...">
                        <button class="search-icon"><span></span></button>
                    </div>
{#                    <button class="close"></button>#}
                </div>
            </div>


            <div class="ml-auto">
                <button data-toggle="modal" data-target=".modal-ftpsync" class="call-modal btn bg-plum-plate btn-sm btn-ftpsync text-white">
                    <i class="fa fa-refresh"></i>
                    Synchronisation FTP
                </button>

                <button class="btn bg-plum-plate btn-sm btn-upload text-white">
                    <i class="fa fa-upload"></i>&nbsp;
                    Charger une video
                </button>
            </div>
        </div>

        <div class="card-body">

            <table class="table">

                <tbody>
                    {% include '@CoaVideolibrary/home/item-render.html.twig' %}

                    {% if  videos|length == 0 %}
                        <tr>
                            <td>
                                <div class="alert alert-light">
                                    <h3>0 resultats</h3>

                                    <div>
                                        Vous ne disposez aucune vidéos pour le moment
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div style="text-align:center" id="infinite-loading">
            <i  class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
    </div>
{% endblock %}

{% block modal %}

    <div class="drop-placeholder">
        <h1>
            Deposez ici vos fichiers videos
        </h1>
    </div>

    {# liste des upload encours #}
    <div id="upload-list">
        <div class="main-card card" >
            <div class="card-header bg-plum-plate">
                <i class="fa fa-upload text-light"></i>&nbsp;&nbsp;
                <h5 class="card-title m-0 text-light">Envois en cours</h5>
                <div class="ml-auto">
                    <div class="counter counter-animation text-light d-inline-block"></div>
                    <a href="" class="text-light times">
                        <i class="fa fa-angle-down fa-2x"></i>
                    </a>
                </div>
            </div>

            <div class="card-body custom-scrollbar overflow-hidden px-1" data-mcs-theme="dark" style="max-height: 600px;">
                <ul class="list-group list-group-flush"></ul>
            </div>

            <div class="d-flex card-footer justify-content-center">

                <div class="d-flex justify-content-start">

                    <div class="custom-checkbox custom-control">
                        <input checked type="checkbox"  class="custom-control-input" id="main_encryption">
                        <label class="custom-control-label font-weight-bold" for="main_encryption">
                            Contenu chiffré.
                        </label>
                    </div>

                    <div class="d-flex border-right border-left mx-2">
                        <label class="font-weight-bold" style="margin:-1px 5px 0 4px">Utiliser comme: </label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="usefor" id="main_usefor_film" value="film">
                            <label class="form-check-label" for="main_usefor_film">
                                Film
                            </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="usefor" id="main_usefor_episode" value="episode" checked>
                            <label class="form-check-label" for="main_usefor_episode">
                                Episode
                            </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="usefor" id="main_usefor_clip" value="clip">
                            <label class="form-check-label" for="main_usefor_clip">
                                Extrait
                            </label>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-info bg-plum-plate ml-auto start-upload">
                    Commencer
                </button>
            </div>
        </div>
    </div>


    {# modal de suppression #}
    <div class="modal fade modal-remove" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="main-card card">
                    <div class="card-header">
                        <i class="header-icon lnr-question-circle icon-gradient bg-plum-plate"></i>
                        Confirmation - &nbsp;<span class="custom-title"></span>
                    </div>

                    <div class="card-body">

                        <p style="font-size: 16px">
                            Voulez-vous vraiment supprimer cet élément ?
                            <br> Cette action est irrevessible,et sera définitivement supprimé de votre base de donnée.
                        </p>

                    </div>

                    <div class="d-block text-right card-footer">

                        <button type="button" class="btn bg-plum-plate text-white yes">
                            Oui
                        </button>

                        <button type="button" class="btn bg-plum-plate text-white no" data-dismiss="modal">
                            Non
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# modale de gestion des screenshots #}
    <div class="modal fade modal-screenshot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="main-card card">
                    <div class="card-header">
                        <i class="header-icon lnr-question-circle icon-gradient bg-plum-plate"></i>
                        Vignettes - &nbsp;<span class="custom-title"></span>
                    </div>

                    <div class="card-body">
                        <div style="text-align:center" class="loading">
                            <i  class="fa fa-spinner fa-spin fa-4x"></i>
                        </div>
                        <div class="screenshot-container"></div>
                    </div>

                    <div class="d-block text-right card-footer">

                        <button type="button" class="btn bg-plum-plate text-white" data-dismiss="modal">
                            Quitter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# modal de synchronisation ftp #}
    <div class="modal fade modal-ftpsync" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="main-card card">
                    <div class="card-header">
                        <i class="header-icon lnr-question-circle icon-gradient bg-plum-plate"></i>
                        Synchronisation FTP
                    </div>

                    <div class="card-body">

                        <p style="font-size: 16px">
                            Voulez-vous vraiment activer la synchronisation ?
                            <br> Tout les fichiers deposés par FTP seront supprimés du dossier.
                        </p>

                    </div>

                    <div class="d-block text-right card-footer">

                        <button type="button" class="btn bg-plum-plate text-white yes">
                            Oui
                        </button>

                        <button type="button" class="btn bg-plum-plate text-white no" data-dismiss="modal">
                            Non
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# modal selection video #}
    {% include '@CoaVideolibrary/home/modal-video.html.twig' %}

    <div class="modal fade modal-screenshot-remove" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="main-card card">
                    <div class="card-header">
                        <i class="header-icon lnr-question-circle icon-gradient bg-plum-plate"></i>
                        Confirmation
                        </span>
                    </div>

                    <div class="card-body">

                        <p style="font-size: 16px">
                            Voulez-vous vraiment supprimer cet élément ?
                            <br> Cette action est irrevessible,et sera définitivement supprimé de votre base de donnée.
                        </p>

                    </div>

                    <div class="d-block text-right card-footer">

                        <button type="button" class="btn bg-plum-plate text-white yes">
                            Oui
                        </button>

                        <button type="button" class="btn bg-plum-plate text-white no" data-dismiss="modal">
                            Non
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="toast-container" class="toast-top-right"></div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/coavideolibrary/libs/venobox/venobox.min.js','coa_videolibrary_host') }}"></script>
    <script src="{{ asset('bundles/coavideolibrary/libs/jquery-circle-progress-1.2.2/circle-progress.min.js','coa_videolibrary_host') }}"></script>
    <script src="{{ asset('bundles/coavideolibrary/libs/scrollbar/jquery.mCustomScrollbar.concat.min.js','coa_videolibrary_host') }}"></script>

    <script src="{{ asset('bundles/coavideolibrary/js/aaz.js','coa_videolibrary_host') }}"></script>
    <script src="{{ asset('bundles/coavideolibrary/js/plugin.js','coa_videolibrary_host') }}.13"></script>
    <script src="{{ asset('bundles/coavideolibrary/js/index.js','coa_videolibrary_host') }}.2"></script>

    <script>

        $('.venobox').venobox();

        let custom_scrollbar = $(".custom-scrollbar");

        custom_scrollbar.mCustomScrollbar({
            axis:"y",
            setTop: 0,
            autoHideScrollbar: true,
            autoExpandScrollbar: true,
            documentTouchScroll: true,
            contentTouchScroll: 50,

            advanced:{
                updateOnContentResize: true,
                updateOnImageLoad:true,
                updateOnSelectorChange:true
            },

            callbacks:{
                // debut de scroll
                onScrollStart: function(){

                },
                // fin de scroll
                onScroll: function(){

                },
                // entrain de scroller
                whileScrolling: function(){

                },
                // scroll a ateint le bas
                onTotalScroll: function(){

                }
            }
        });
        custom_scrollbar.removeClass("mCustomScrollbar");
    </script>
{% endblock %}