{% for video in videos %}
    <tr {% if video.state in ["PROGRESSING","SUBMITTED"] %} data-jobid="{{ video.jobRef }}" {% endif %}  class="ui-state-default row-data data-item" data-id="{{ video.code }}">
        <td style="vertical-align:top" width="312px">

            {% if video.state != "COMPLETE" %}

                <div class="mt-1 badge bg-plum-plate text-white mb-3 data-item-state">
                    {{ video.state }}
                </div>
            {% endif %}

            <div class="position-relative text-center">
                <div class="data-item-image video-sprites" {% if video.state == 'COMPLETE' %} style="background-image: url('{{ video.poster|coaBucketBasename(video) }}')" {% endif %}></div>
            </div>

            <div>
                <small class="text-uppercase data-item-name">{{ video.originalFilename|coa_videolibrary_truncate(50) }}</small>
            </div>
        </td>


        <td style="vertical-align: top">

            <div class="mb-2">
                <strong class="">Ajouté le</strong>

                <div>
                    {{ video.createdAt|date("d M Y à H:i") }}
                </div>
            </div>

            <div class="mb-2">

                <strong>
                    Ajouté par
                </strong>

                <div>
                    {% if video.author %}
                        {{ video.author.firstname }} {{ video.author.lastname }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>


            <div class="mt-2">
                <strong>
                    Durée
                </strong>

                <div>
                    {% if video.duration %}
                        {{ video.duration|coaSecToDuration() }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>

        </td>

        <td style="vertical-align:top">

            <div class="row">
                <div class="col-md-4">
                    <strong class="">Taille du fichier</strong>

                    <div>
                        {{ video.fileSize|coaToBytes(2) }}
                    </div>


                    <div class="mt-2">
                        <strong class="">Debut transcoding</strong>
                        <div>
                            {% if video.jobStartTime %}
                                {{ video.jobStartTime|date("d M Y à H:i") }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>

                    <div class="mt-2">
                        <strong class="">Fin transcoding</strong>
                        <div>
                            {% if video.jobFinishTime %}
                                {{ video.jobFinishTime|date("d M Y à H:i") }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <strong>
                        Soumis le
                    </strong>

                    <div>
                        {% if video.jobSubmitTime %}
                            {{ video.jobSubmitTime|date("d M Y à H:i") }}
                        {% else %}
                            -
                        {% endif %}
                    </div>

                    <div class="mt-2">
                        <strong>
                            Variants
                        </strong>

                        <div >

                            {% if video.variants %}
                                {{ video.variants|length }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>

                    <div class="mt-2">
                        <strong>
                            Vignettes
                        </strong>

                        <div >

                            {% if video.screenshots %}
                                {{ video.screenshots|length }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-0">

                    {% if video.state == "COMPLETE" %}
{#                        {% for v in video.screenshots|slice(1,5) %}#}
{#                            <a class="venobox" data-gall="g-{{ video.code }}" href="{{ v|coaBucketBasename(video) }}">#}
{#                                <img class="mx-0 px-0" width="70" src="{{ v|coaBucketBasename(video) }}" alt="">#}
{#                            </a>#}

{#                        {% endfor %}#}

                        <a  data-toggle="modal" data-target=".modal-screenshot" href="" class="call-modal text-decoration-none position-relative d-inline-block bg-light mx-0 px-0 align-middle" style="width:70px;height:39.375px;vertical-align: middle">
                            <div style="height: 100%; text-shadow: 1px 1px #000" class="text-white d-flex flex-column justify-content-center align-items-center">
                                voir les vignettes
                            </div>
                        </a>
                    {% endif %}


                    {% if video.state in  ["PROGRESSING","SUBMITTED"] %}
                        <div class="circle-progress" style="width: 100px;height: 100px" data-value="{{ video.jobPercent/100 }}">
                            <strong></strong>
                        </div>
                    {% endif %}
                </div>
            </div>

        </td>


        <td width="200" >

            <ul class="nav flex-column">

{#                {% if video.state == "CANCELED" or video.state == "ERROR" %}#}
                    <li class="nav-item">
                        <a href="" class="nav-link text-primary call-modal" data-toggle="modal" data-target=".modal-remove">
                            <i class="fa fa-trash opacity-7"></i> &nbsp; Supprimer
                        </a>
                    </li>
{#                {% endif %}#}


                {% if video.state == "COMPLETE" %}

                    <li class="nav-item">

                        <a  href="" class="nav-link text-primary call-modal" data-toggle="modal" data-target=".modal-screenshot">
                            <i class="fa fa-random opacity-7"></i> &nbsp; Modifier la vignette
                        </a>
                    </li>

                    <li class="nav-item">
                        {% include '@CoaVideolibrary/home/play-btn.html.twig' %}
                    </li>

                {% endif %}

            </ul>

        </td>
    </tr>
{% endfor %}